/* index.css */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h2,
h3 {
  color: #333;
}

/* Customer List Styles */
.customer-list {
  padding: 20px;
}

.filter-container {
  margin-bottom: 20px;
}

.filter-container input {
  margin-right: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  margin-left: 10px;
}

/* Pagination Styles */
.pagination {
  margin-top: 20px;
}

.pagination button {
  margin-right: 5px;
  height: 30px;
  width: 30px;
  padding: 0;
}

.pagination .active {
  font-weight: bold;
}


.customer-list-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
